@use "abstracts/variables" as *;
@use "abstracts/mixin";
@use "base/normalise";
@use "base/basics";
@use "base/fonts";
@use "components/burger";
.header {
  padding: 0 160px;
}

.header-nav {
  padding-top: 50px;
  font-weight: 700;
  line-height: 20px;
}

.header-nav__wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo actions" "logo menu";
  gap: 16px;
}

.header-nav__logo {
  grid-area: logo;
}

.header-nav__logo .breadscrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}

.header-nav__logo .breadscrumbs-item {
  font-weight: 400;
  font-size: 1.714rem;
  line-height: 44px;
  color: #323264;
}

.header-nav__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  grid-area: actions;
}

.header-nav__actions-lang {
  display: flex;
  font-weight: 700;
  font-size: 0.571rem;
  line-height: 15px;
  letter-spacing: 1px;
  color: #b3b3ba;
}

.header-nav__actions__lang-link {
  padding: 5px 7px;
  border-radius: 20%;
  color: #b3b3ba;
}

.header-nav__actions__lang-link.active {
  color: white;
  background-color: #f0145a;
  border-radius: 8px;
}

.header-nav__actions__lang-link:hover {
  padding: 5px 7px;
  border-radius: 20%;
  background: #cdcdd1;
}

.header-nav__actions-locations {
  font-weight: 400;
  font-size: 0.762rem;
}

.header-nav__actions-locations-link {
  color: #b3b3ba;
}

.header-nav__actions-locations::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  margin-bottom: 3px;
}

.header-nav__actions-phones {
  font-size: 0.762rem;
}

.header-nav__actions-phones-link {
  color: #b3b3ba;
}

.header-nav__actions-phones::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  margin-bottom: 3px;
}

.header-nav__actions__lang-link.active {
  background-color: #f0145a;
}

.header-nav__actions-socials::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #b3b3ba;
  border-radius: 50%;
  margin-bottom: 7px;
}

.header-nav__actions-socials-link svg:hover #facebook {
  fill: #f0145a;
}

.header-nav__menu {
  grid-area: menu;
  font-size: 0.762rem;
}

.header-nav__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.header-nav__menu-link {
  color: #24a3ff;
}

.header-nav__menu-link.accent {
  color: #f0145a;
  border-bottom: 2px solid #f0145a;
}

.header-nav__menu-link:hover {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}

.team-page {
  padding: 0 160px;
}

.team-page__title {
  padding: 0 120px;
  font-size: 1.81rem;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
