$color-main-regular: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;

$color-accent: #f0145a;

$color-active-regular: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;

$color-bg: #f5f5fa;
$color-bg-alt: #ededf7;
$color-bg-text: #b3b3ba;
$color-bg-separator: #e6e6f0;

$color-gradient-regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$color-gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
$color-gradient-red: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
$color-gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$color-gradient-red-text: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
