@use "../abstracts/variables" as *;
@use "../base/basics";

.header-burger {
  display: none;
  position: absolute;
  top: 80px;
  right: 15px;
  width: calc(100% - 40px);
}

.burger-wrap {
  position: relative;
  display: none;
  padding: 64px 12px 12px 12px;
  margin: 0;
  background: #ffffff;
  border-radius: 12px 12px 12px 12px;

  &.is-shown {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    min-height: 200px;
    border-radius: 5px;
    border: 0;
    width: 100%;

    &::before {
      background: red;
    }
  }

  .burger-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .burger-item {
      display: flex;
      justify-content: center;
      background: $color-bg;
      border-radius: 12px;

      &:active {
        background-color: $color-bg-separator;
      }
    }

    .burger-link {
      display: inline-block;
      color: $color-active-regular;
      font-size: 1.143rem;
      line-height: 29px;
      padding: 7px 0;

      &:active {
        background: $color-bg-alt;
      }
    }

    .burger-link.active {
      color: $color-accent;
    }
  }
}

.burger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &-icon {
    width: 100%;

    &:active {
      background-color: $color-bg-separator;
      border-radius: 8px;
    }
  }
}
